.page_editorial {
    padding-bottom: 48px;
    height: calc(100vh - 219px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  
    @media screen and (max-width: 768px) {
      height: calc(100vh - 150px);
    }
  
    &_flex {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      overflow-y: scroll;
    }
  
    &_left {
      margin-right: 24px;
      max-width: 475px;
      width: 100%;
      height: 100%;
  
      &_description {
        height: 100%;
  
        &_container {
          margin-bottom: 48px;
  
          &:last-child {
            margin-bottom: 0;
          }
  
          &_title {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
  
            h4 {
              font-weight: 600;
              margin-bottom: 16px;
            }
  
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              background: #E5E5EF;
              padding: 12px;
  
              img {
                width: 12px;
                height: 12px;
                object-fit: cover;
              }
            }
          }
  
          &_content {
            p {
              font-size: 14px;
              margin-bottom: 12px;
  
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  
    &_right {
      max-width: 475px;
      width: 100%;
      height: 100%;
  
      &_partition,
      &_commentaire {
        width: 100%;
        height: calc(50% - 12px);
      }
  
      &_partition {
        margin-bottom: 24px;
  
        &_container {
          &_content {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
  
            &:last-child {
              margin-bottom: 0;
            }
  
            span {
              display: flex;
              align-items: center;
  
              img {
                margin-right: 8px;
              }
            }
            button{
              display: flex;
              align-items: center;
              justify-content: center;
              background: #E5E5EF;
              padding:12px;
              &:nth-child(2){
                  margin-left: 12px;
              }
              img{
                  width: 12px;
                  height: 12px;
                  object-fit: cover;
              }
            }
          }
        }
      }
  
      &_commentaire {
        margin-bottom: 24px;
  
        &_container {
          margin-bottom: 24px;
          padding-bottom: 24px;
          border-bottom: 1px solid #E5E5EF;
  
          &:last-child {
            margin-bottom: 0;
            border-bottom: none;
          }
  
          &_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 16px;
  
            h4 {
              font-weight: 600;
            }
            div{
              display: flex;
              button{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #E5E5EF;
                  padding:12px;
                  &:nth-child(2){
                      margin-left: 12px;
                  }
                  img{
                      width: 12px;
                      height: 12px;
                      object-fit: cover;
                  }
              }
          }
          }
        }
      }
    }
  
    &_left_description,
    &_right_partition,
    &_right_commentaire {
      padding: 32px;
      border: 1px solid #E5E5EF;
      border-radius: 16px;
      overflow-y: scroll;
  
      &_title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 32px;
  
        h4 {
          font-size: 20px;
          font-weight: 700;
        }
  
        span {
          font-size: 16px;
          font-weight: 400;
          opacity: 0.5;
        }
  
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #E5E5EF;
          padding: 12px;
  
          img {
            width: 12px;
            height: 12px;
            object-fit: cover;
          }
        }
      }
    }
  
    &_valide {
      display: flex;
      justify-content: center;
      margin-top: 48px;
  
      button {
        background: #22C55E;
        display: flex;
        align-items: center;
        justify-content: center;
  
        img {
          margin-right: 8px;
          filter: invert(1);
        }
      }
    }
  }
  