.page_programmation{
    padding-bottom:48px;
    height:calc(100vh - 219px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    &_flex{
        display: flex;
        justify-content: center;
        height:100%;
        overflow-y: scroll;
    }
    &_infos{
        max-width: 350px;
        width: 100%;
        margin-right: 24px;
        &_container{
            margin-bottom: 24px;
            &:last-child{
                margin-bottom: 0;
            }
            &_title{
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                h4{
                    font-weight: 600;
                    margin-bottom: 16px;
                }
                button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #E5E5EF;
                    padding:12px;
                    img{
                        width: 12px;
                        height: 12px;
                        object-fit: cover;
                    }
                }
            }
            &_content{
                p{
                    font-size: 14px;
                    margin-bottom: 12px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                span{
                    padding: 8px 10px;
                    border-radius: 30px;
                    background-color: #3B82F6;
                    color:white;
                    font-size: 12px;
                }
            }
        }
    }
    &_collabo{
        max-width: 600px;
        width: 100%;
        &_container{
            &_content{
                display: flex;
                justify-content: space-between;
                margin-bottom: 24px;
                &:nth-child(1){
                    padding-bottom: 24px;
                    border-bottom: 1px solid #E5E5EF;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                &_infos{
                    display: flex;
                    align-items: center;
                    &_img{
                        img{
                            height: 60px;
                            width: 60px;
                            object-fit: cover;
                        }
                        margin-right: 16px;
                    }
                    &_name{
                        display: flex;
                        flex-direction: column;
                        font-weight: 600;
                    }
                }
                &_role{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    &_infos,&_collabo{
        padding:32px;
        border: 1px solid #E5E5EF;
        border-radius: 16px;
        height:100%;
        overflow-y: scroll;
        &_title{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 32px;
            h4{
                font-size: 20px;
                font-weight: 700;
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                background: #E5E5EF;
                padding:12px;
                img{
                    width: 12px;
                    height: 12px;
                    object-fit: cover;
                }
            }
        }
    }
    &_valide{
        display: flex;
        justify-content: center;
        margin-top: 48px;
        button{
            background: #22C55E;
            &:nth-child(2){
                background: #EF4444;
                margin-left: 12px;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                margin-right: 8px;
                filter: invert(1);
            }
        }
    }
}
